.mainContainer {
  width: 30%;
  margin-left: 30px;
}

.title {
  text-align: center;
  margin-top: 0;
}

.selectedStatus {
  text-align: center;
  color: dimgray;
}

.month {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.section {
  display: flex;
}

.sectionName {
  margin-right: 5px;
}
